ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.heading-text {
  font-size: 5rem;
}

.section-one {
  width: 100%;
  height: 714.5px;
  background-image: url("../utils/images/home-slider-slide-3.svg"); /* Replace 'your-image.jpg' with the path to your image */
  background-size: 65.1% auto;
  background-repeat: no-repeat;
  background-position: top right 3px;
  display: grid;
  align-items: center;
}

.section-one .hero-wrapper {
  padding: 5.7% 18.4% 0;
  height: 300px;
}

.section-one .hero-wrapper h3 {
  font-size: 2.0825rem;
  font-weight: 600;
  color: #383838;
  margin-bottom: 16px;
}

.section-one .hero-wrapper h1 {
  font-size: 4.985rem;
  letter-spacing: 11.3px;
  color: #292929;
  font-weight: 800;
  text-indent: -2px;
  margin-bottom: 4.4%;
}

.section-one .btn-gear {
  margin-left: 13%;
  font-size: 2rem;
  color: #b8a47e;
  font-weight: 550;
  letter-spacing: 0.2px;
  position: relative;
}
.section-one .btn-gear::before {
  content: "";
  position: absolute;
  translate: -140% 0;
  top: 50%;
  height: 1.2px;
  background-color: #b8a47e;
  width: 39px;
}

.section-one .btn-gear::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 2px;
  right: -31px;
  background-image: url("../utils/images/arrow_right.svg");
  background-size: 17px 17px;
  background-repeat: no-repeat;
}

.divider::after {
  content: "";
  display: block;
  height: 19.6rem;
  width: 100%;
}

.banner-section {
  width: 100%;
  height: 572.5px;
  background-repeat: no-repeat;
}

.banner-section .hero-wrapper {
  display: flex;
  position: relative;
}

.banner-section .hero-wrapper h3 {
  font-size: 1.94rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}

.banner-section .hero-wrapper h1 {
  letter-spacing: 11.3px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
}
.banner-section .description {
  color: #a7a7a7;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 21px;
  letter-spacing: 0.1px;
  font-size: 1.45rem;
  line-height: 1.3;
  overflow: hidden;
}
.banner-section .description span {
  display: block;
}

.banner-section .hero-wrapper::after {
  content: "";
  display: block;
  border: 3px solid #b8a47e;
  position: absolute;
}

.banner-section .arrow-down {
  position: absolute;
  z-index: 10;
  height: 84px;
  bottom: 67px;
  padding-top: 6px;
  padding-inline: 89px 89px;
}

.banner-section .arrow-down img {
  height: 100%;
}

.section-two {
  height: 572.5px;
  background-image: url("../utils/images/hero_image2.svg");
  background-size: 67.2% auto;
  padding-right: 158px;
  padding-top: 100px;
  background-position: top left;
}

.section-two .hero-wrapper {
  justify-content: flex-end;
  gap: 28px;
  height: 472px;
}

.section-two .hero-wrapper .title {
  text-align: end;
  padding-top: 100px;
}
.section-two .hero-wrapper h3 {
  margin-right: 25px;
}
.section-two .hero-wrapper h1 {
  padding-right: 44px;
}
.section-two .description {
  padding-right: 109px;
  padding-top: 75px;
  height: 300px;
}

.section-two .hero-wrapper::after {
  height: 67%;
  top: 7px;
  width: 50.6%;
}

.section-two .arrow-down {
  right: 155px;
  bottom: 67px;
  background: #ffffff;
}

.section-three {
  height: 936.5px;
  background-image: url("../utils/images/hero_image3.svg");
  background-size: 67.2% auto;
  padding-right: 8.4%;
  background-position: center right 2px;
  padding-top: 15.7%;
  background-color: #ededed;
}
.section-three .hero-wrapper {
  display: flex;
  position: relative;
  gap: 5.8%;
  padding-left: 9%;
  height: 347px;
}
.section-three .description {
  padding-left: 65px;
  padding-top: 42px;
  font-weight: 550;
  letter-spacing: -0.0025px;
}
.section-three .hero-wrapper h1 {
  letter-spacing: 11.8px;
}
.section-three .hero-wrapper h3 {
  padding-left: 117px;
}
.section-three .hero-wrapper .title {
  padding-top: 81px;
}

.section-three .hero-wrapper::after {
  height: 91%;
  top: 1px;
  width: 51.5%;
  z-index: 3;
}

.section-three .arrow-down {
  left: 313px;
  bottom: -51px;
  background-color: #ededed;
}
.section-three .decoration-text {
  position: absolute;
  color: #a7a7a7;
  font-weight: 700;
  letter-spacing: 10.3px;
  font-size: 4.1rem;
  left: 184px;
  top: -31px;
  z-index: 1;
}
.section-three .decoration-text::after {
  content: "";
  z-index: 2;
  width: 100%;
  bottom: 0;
  height: 16px;
  position: absolute;
  background-color: #ededed;
  display: block;
}

.section-four {
  margin-top: 25px;
  padding-inline: 100px;
}
.section-four .title {
  margin-top: 170px;
}
.section-four .title h1 {
  font-size: 6rem;
  letter-spacing: 16.8px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #383838;
  font-weight: 750;
  text-align: center;
  padding-right: 6.2%;
}
.section-four .label-text {
  display: flex;
  justify-content: end;
  font-size: 2rem;
  margin-top: 29px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 1.4;
  text-indent: -1px;
  color: #383838;
}
.section-four .label-text p {
  padding: 0px 17.95% 1px 7px;
  margin-right: 6%;
  background-color: #e1daca;
  position: relative;
}
.section-four .label-text p::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -150px;
  top: 50%;
  height: 2px;
  background-color: #000000;
  width: 139px;
}

.collection-wrapper {
  display: grid;
  grid-template-columns: 1.408fr 1fr;
  padding-top: 84px;
}

.cell01 .heading-number {
  opacity: 0.529;
  font-size: 6.2rem;
  letter-spacing: 17px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #383838;
  font-weight: 700;
  position: relative;
  padding-left: 8.7%;
}
.cell01 .heading-number::after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #000000;
  width: 139px;
  margin-bottom: 22px;
}

.cell01 .image-container {
  margin-top: -44px;
  width: 96%;
  margin-left: 84px;
}

.cell02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 43px;
}
.cell02 .content-wrapper {
  padding-left: 49px;
  height: 217px;
}
.cell02 h1 {
  font-size: 2.6rem;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  color: #383838;
  font-weight: 760;
  line-height: 0.9;
}
.cell02 p {
  margin-top: 25px;
  width: 62%;
  font-size: 1.5rem;
  line-height: 1.48;
  color: #383838;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-align: left;
  word-spacing: 1px;
}
.cell02 .read-more a {
  position: relative;
  text-transform: uppercase;
  color: #383838;
  font-weight: 760;
  font-size: 1.24rem;
  font-family: "Montserrat";
}
.cell02 .read-more a::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  right: -22px;
  background-image: url("../utils/images/arrow_right_small.svg");
  background-size: 6.5px;
  background-repeat: no-repeat;
}
.cell02 .read-more {
  margin-top: 22px;
}
.cell02::after {
  content: "";
  position: absolute;
  display: block;
  width: 27%;
  height: 153px;
  bottom: 100px;
  left: 119px;
  background-image: url(../utils/images/tanner_logo2.svg);
  background-size: 153px;
  background-repeat: no-repeat;
}
.cell02 .line-decorator {
  position: absolute;
  content: "";
  height: 69px;
  top: 148px;
  left: 94px;
  width: 2px;
  background-color: black;
}
.cell02 .line-decorator-02 {
  position: absolute;
  content: "";
  height: 138px;
  bottom: 114px;
  left: 106px;
  width: 2px;
  background-color: black;
  z-index: 2;
}
.cell03 {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cell03 h1 {
  font-size: 2.6rem;
  letter-spacing: 7.7px;
  text-transform: uppercase;
  color: #383838;
  font-weight: 760;
  line-height: 0.9;
  margin-right: 24%;
  position: relative;
}

.cell03 .collection-title::before {
  content: "";
  position: absolute;
  background-color: #e1daca;
  left: -26px;
  width: 110%;
  top: 7px;
  z-index: -1;
  height: 30px;
}
.cell03 .content-wrapper {
  padding: 72px 0 0 0px;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: end;
  align-items: end;
}
.cell03 .read-more a::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  right: -22px;
  background-image: url("../utils/images/arrow_right_small.svg");
  background-size: 6.5px;
  background-repeat: no-repeat;
}
.cell03 .read-more {
  margin-top: 21px;
  margin-right: 47.8%;
}
.cell03 .read-more a {
  position: relative;
  text-transform: uppercase;
  color: #383838;
  font-weight: 760;
  font-size: 1.24rem;
  font-family: "Montserrat";
}
.cell03 p {
  margin-top: 21px;
  width: 36%;
  font-size: 1.5rem;
  line-height: 1.48;
  color: #383838;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  margin-right: 20%;
  word-spacing: 1px;
}

.cell04 {
  position: relative;
}
.cell04 .image-container {
  position: absolute;
  top: -152px;
  left: -100px;
  width: 82.9%;
}

.cell05 {
  display: flex;
  position: relative;
  z-index: 2;
  /* padding-right: 160px; */
  align-items: center;
  justify-content: end;
}
.cell05 .heading-number {
  opacity: 0.529;
  font-size: 6.2rem;
  letter-spacing: 17px;
  text-transform: uppercase;
  color: #383838;
  font-weight: 700;
  position: absolute;
  right: 89px;
  top: 23px;
}
.cell05 .image-container {
  width: 60.1%;
  padding-top: 62px;
  margin-right: 15.4%;
  /* padding-left: 130px; */
}

.cell06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: -27px;
}
.cell06 .content-wrapper {
  padding-left: 50px;
  height: 240px;
}
.cell06 h1 {
  font-size: 2.6rem;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  color: #383838;
  font-weight: 760;
  line-height: 0.9;
}
.cell06 p {
  margin-top: 34px;
  width: 68%;
  height: 90px;
  font-size: 1.5rem;
  line-height: 1.47;
  color: #383838;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-align: left;
  word-spacing: 0.3px;
  overflow: hidden;
  letter-spacing: -0.2px;
}
.cell06 .read-more a {
  position: relative;
  text-transform: uppercase;
  color: #383838;
  font-weight: 760;
  font-size: 1.24rem;
  font-family: "Montserrat";
}
.cell06 .read-more a::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  right: -22px;
  background-image: url("../utils/images/arrow_right_small.svg");
  background-size: 6.5px;
  background-repeat: no-repeat;
}
.cell06 .read-more {
  margin-top: 22px;
}
.cell06 .heading-number {
  opacity: 0.529;
  font-size: 6.2rem;
  letter-spacing: 17px;
  text-transform: uppercase;
  color: #383838;
  font-weight: 700;
  position: absolute;
  right: 26.5%;
  bottom: 104px;
  z-index: 3;
}
.cell07 {
  display: flex;
  justify-content: end;
  z-index: 2;
}
.cell07 .collection-title-big {
  font-size: 5.5rem;
  letter-spacing: 25px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-family: "Montserrat";
  filter: drop-shadow(-0.228px 15.408px 6px rgba(0, 15, 26, 0.27));
}
.cell07 .content-wrapper {
  text-align: right;
  padding-right: 18.6%;
  padding-top: 56px;
}
.cell08 {
  position: relative;
  z-index: 1;
}
.cell08 .image-container {
  position: absolute;
  top: -129px;
  width: 96%;
  left: -31.7%;
}
.cell08 .image-container::after {
  content: "";
  position: absolute;
  width: 31.7%;
  z-index: -1;
  height: 555px;
  mix-blend-mode: multiply;
  top: 62px;
  right: 8px;
  background-image: url(../utils/images/decoration-end.svg);
  background-size: 213px;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-color: #e3dccc;
}
.cell08 .image-container::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 85.1%;
  top: 62px;
  right: 9px;
  background-image: url(../utils/images/decoration-end.svg);
  background-size: 400px;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-color: #e3dccc;
  z-index: 2;
  mix-blend-mode: multiply;
}
.cassette {
  margin-top: 123px;
  padding-left: 85px;
  display: flex;
  justify-content: space-between;
  width: 67.5%;
}
.cassette .cassette-item {
  width: 164px;
}
.image-container img {
  width: 100%;
}
.casstte-more-icon {
  position: relative;
}
.casstte-more-icon::after {
  content: "";
  position: absolute;
  padding: 0%;
  height: 51px;
  width: 51px;
  top: 50%;
  right: 50%;
  translate: 50% -50%;
  background-image: url(../utils/images/moreicon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.page-navigator {
  position: fixed;
  width: 91px;
  padding: 0px;
  left: 73px;
  top: 29.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.page-navigator::after {
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  padding: 17px 6px;
  top: -23px;
  left: -7px;
  position: absolute;
  border-radius: 74px;
  background-color: rgba(255, 255, 255, 0.3);
}
.page-navigator button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.arrow-btn-container {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 43px;
}
.arrow-btn-container button {
  width: 26px;
}
.arrow-btn-container::after {
  margin-left: 12px;
  content: "";
  height: 37px;
  width: 2px;
  background-color: black;
  margin-top: -18px;
  background-color: #b8a47e;
}

.page-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-left: -5px;
  font-weight: 400;
}
.page-numbers .page-number {
  font-size: 18px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 14px;
  transition: transform 0.2s;
}
.page-numbers .page-number:hover {
  transform: scale(1.1);
}
.page-numbers .page-number-active {
  font-size: 45px;
  position: relative;
  color: #000000;
  margin-bottom: 47px;
}
.page-numbers .page-number-active::after {
  z-index: -1;
  content: "";
  display: block;
  padding: 38px;
  top: -11px;
  left: -12px;
  position: absolute;
  border-radius: 74px;
  background-color: #ffffff;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.lazy-image,
.lazy-load {
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

@media (max-width: 980px) {
  .section-one,
  .section-two,
  .section-three {
    filter: brightness(100%) contrast(120%);
    background-size: cover;
    height: auto;
    padding: 0;
  }

  .section-two .hero-wrapper,
  .section-one .hero-wrapper,
  .section-three .hero-wrapper {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section-two .hero-wrapper {
    height: auto;
  }

  .section-one .hero-wrapper .title,
  .section-two .hero-wrapper .title,
  .section-three .hero-wrapper .title {
    padding: 0;
    text-align: center;
  }
  .section-four .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 3rem;
    width: 100%;
  }
  .section-four .title *,
  .section-one .hero-wrapper .title *,
  .section-two .hero-wrapper .title *,
  .section-three .hero-wrapper .title * {
    padding: 0;
  }

  .section-one .hero-wrapper h3,
  .section-one .hero-wrapper a {
    color: #ffffff;
  }
  .hero-wrapper h1.heading-text,
  .hero-wrapper p.decoration-text {
    font-size: 2rem;
    color: #ffffff;
    padding: 0;
    letter-spacing: normal;
  }
  .section-three .hero-wrapper .description {
    color: #fff;
    gap: 5px;
  }
  .section-three .hero-wrapper .decoration-text {
    color: #fff;
    position: static;
  }
  .section-three .hero-wrapper .decoration-text::after {
    display: none;
  }
  .line-decorator,
  .line-decorator-02 {
    display: none;
  }
  .collection-wrapper {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
  .collection-wrapper .heading-number {
    font-size: 3rem;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    position: static;
  }
  .collection-wrapper .heading-number::after {
    display: none;
  }
  .collection-wrapper .image-container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vh;
    position: static;
  }
  .collection-wrapper .content-wrapper {
    margin: 0;
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .collection-wrapper .collection-title,
  .collection-wrapper p {
    margin: 0;
    width: auto;
  }
  .cell01,
  .cell02,
  .cell03,
  .cell04,
  .cell05,
  .cell06,
  .cell07,
  .cell08 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .cell01 h1,
  .cell02 h1,
  .cell03 h1,
  .cell04 h1,
  .cell05 h1,
  .cell06 h1,
  .cell07 h1,
  .cell08 h1 {
    letter-spacing: normal;
  }
  .section-four .title h1 {
    font-size: 3rem;
    letter-spacing: normal;
  }
  .cell02::after {
    display: none;
  }
  .cell06 .read-more,
  .cell02 .read-more,
  .cell03 .read-more {
    margin: 0;
  }
  .cell03 .collection-title::before {
    display: none;
  }

  .cell07 .collection-title-big {
    font-size: 3rem;
    letter-spacing: normal;
    filter: drop-shadow(5.772px 12.408px 10px rgba(0, 15, 26, 1));
  }

  .cell08 .image-container::before,
  .cell08 .image-container::after {
    display: none;
  }

  .cassette {
    margin-top: 10px;
    width: 100%;
    padding-left: 0px;
  }
  .casstte-more-icon::after {
    content: "";
    position: absolute;
    padding: 0%;
    height: 30px;
    width: 30px;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
    background-image: url(../utils/images/moreicon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .divider::after {
    height: 10px;
  }

  .section-four {
    padding: 10px 0;
  }

  .page-navigator {
    display: none;
  }

  .section-two {
    padding: 0;
  }

  .section-three .hero-wrapper .description,
  .section-two .hero-wrapper .description {
    color: #fff;
    padding: 0;
    height: auto;
    gap: 1px;
    justify-content: center;
  }
  .arrow-down,
  .section-two .hero-wrapper::after,
  .section-three .hero-wrapper::after {
    display: none;
  }
}
